
__pycache__/
*.py[cod]
*$py.class

venv/
.venv/
ENV/
env/
.Python

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.cache
nosetests.xml
pytest_cache/

.ipynb_checkpoints

.mypy_cache/
.dmypy.json
dmypy.json

.pyre/

.pytype/

.vscode/

.idea/

.DS_Store

*.log

.env
.env.*

*.whl

build/
dist/
*.egg-info/
.eggs/

staticfiles/
frontend/dist/
frontend/node_modules/

*.sqlite3

*.tmp
*.bak
*.swp

gunicorn*.log
